/* At some point we need to figure out what CSS is common
to the whole site and move it into a separate file (e.g. main.css) */

a:link {
    text-decoration:none;    
}
body{
	font-family:'Open Sans',sans-serif;
    background:#0a0a0a url(/media/argyle.png) ;
	padding:0;
	margin:0;
    height:100%
}
section{
    font-family:'Play',sans-serif;
    max-width:1200px;
	min-height:95%;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
}
header{
	background-color:#ECF0F1;
	height:100px;
}
#logoCover{
    background-color:transparent;
	max-width:640px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
#logo1{
	font-size:60px;
	color:#95A5A6;
	text-align:right;
	vertical-align:middle;
	line-height:100px;
	margin:0;
}
#logoBack1{
	height:100px;
	width:300px;
	background-color:#ECF0F1;
	z-index:2;
	position:absolute;
	margin-left:-1px;
	border-radius:80px;
}
#logo1,#logo2{
	margin:0;
}
#logoBack2{
	height:100px;
	width:260px;
	background-color:transparent;
	z-index:1;
	position:relative;
	border-radius:25px;
    padding-left:2.5%;
}
#logo2{
    font-size:60px;
	color:#E74C3C;
	text-align:right;
	vertical-align:middle;
	line-height:100px;
}
.navButton{
	width:20%;
	height:50px;
	background-color:#BDC3C7;
	float:left;
	cursor:pointer;
	color: #fff;
	font-size:25px;
	text-align:center;
}
footer {
    text-align:center;
    font-size:12px;
    color:#95A5A6;
    position:absolute;
    bottom:0;
    width:100%;
    padding-bottom:10px;
    opacity:.4;
}
footer a {
    color:#E74C3C;
}
article {
    background-color:rgba(0, 0, 0, .6);
}